@import "bootstrap";

.filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #EDEDED;
  padding: 10px 81px 10px 81px;
  z-index: 3;
  position: relative;
  top: -20px;
  gap: 78px;
}

.recipeCounter {
  margin-left: auto;
  font-size: 21px;
  font-family: initial;
}

.btn, .btn-secondary {
    width: 195px;
    height: 56px;
    padding: 17px 16px 17px 16px;
    border-radius: 11px;
    color: black;
    background-color: white;
    border: none;
    display: flex;
    justify-content: space-between;
  }

  .dropdown-menu.show {
    width: 195px;
    max-height: 315px;
    overflow-y: auto;
    padding: 0;
    margin: 0;
    list-style-type: none;
}
  .dropdown-menu.show::-webkit-scrollbar {
    width: 0px;  /* This hides the scrollbar */
    height: 0px;  /* For horizontal scrollbar */
  }

/************** Arrow Up and Arrow Down manipulation- ********************/

.btn.show i.fa-angle-up {
    display: inline;
}

.btn i {
    transition: transform 0.3s ease-out;
}

.btn.show i.fa-angle-down {
    transform: rotate(180deg);
}

/*************************************************************************/


  .dropdown-search {
    width: 167px;
    height: 36px;
    border-radius: 4px;
    border: 1px solid #ced4da;
    position: absolute;
    top: 2px;
    left: 11px;
  }

.search, .fa-magnifying-glass {
  position: absolute;
    top: 13px;
    right: 20px;
    color: grey;
    z-index: 1;
  }

  .input-wrapper{
    height: 36px;
    width: 160px;
  }
    
  .dropdown-item:hover{
    background-color: #FFD15B;
  }
  
/* Styles for each selected item */
  .selected-tags-container a{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    text-decoration: none;
    color: black;
}


/* Default styles */

.remove-tag-button {
  padding: 5px 10px;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

button {
  border-radius: 10px;
  background: #FFD15B;
  display: flex;
  padding: 10px;
  height: 53px;
  width: 203px;
  border: none;
  align-items: center;
  justify-content: space-around;
  
}

/* Hover effects */
button:hover .selected-tag-item, 
button:hover .remove-tag-button, 
button:hover .selected-tag-item .remove-tag-button, 
button:hover .remove-tag-button .selected-tag-item a{
  background-color: #FFD15B;
  font-weight: 700;
  text-decoration: none;
}

button:hover .remove-tag-button {
  background-color: black;
  border-radius: 20px;
  color: #FFD15B;
  font-size: 12px;
  cursor: pointer;
  font-weight: 700;
}

.clear-button {
  display: none;
}

.clear-button.show {
  display: inline;
  width: 0px;
  background: transparent;
  border: transparent;
  color: grey;
  position: relative;
  bottom: 8px;
  left: 128px;
}

.selected-tags-container{
  display: flex;
  gap: 20px;
  margin-left: 20px;
  margin-top: -30px;
}

.mt-4 {
  margin-top: 0;
}